[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
databases = "*"
pyyaml = "*"
psycopg2 = "*"
py2neo = "*"

[requires]
python_version = "3.8"

[dev-packages]
jupyterlab = "*"
black = "*"
pylama = "*"

[pipenv]
allow_prereleases = true
